@import './../../../../../app.component';
// @import 'src/app/app.component';
 
:host {
  display: block;
  margin: 4px;
  margin-bottom: $card-margin-bottom;
  border: none;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  border-radius: $card-border-radious;
  box-shadow: $card-box-shadow;

  .card-header {
    background-color: $secondary-color;
    padding: $card-padding;
    border-bottom: $card-border-color;
    border-top-left-radius: $card-border-radious;
    border-top-right-radius: $card-border-radious;
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $light-gray;
  }

  .card-header span {
    font-size: $card-header-span-size;
    color: $card-header-span-color;
    margin-top: 5px;
    display: block;
    letter-spacing: 1px;
  }

  .card-footer {
    background-color: $card-footer-bg-color;
    border-top: $card-border-color;
    padding: $card-padding;
    border-bottom-left-radius: $card-border-radious;
    border-bottom-right-radius: $card-border-radious;
  }

  .card-bottom {
    border: 1px solid $secondary-color;
  }

  img {
    max-width: 100%;
    // height: 250px;
  }

  @mixin btn-gradien($deg,$leftcolor,$leftcolor-per,$rightcolor,$rightcolor-per,$font-color){
    background-image: linear-gradient(to right,$leftcolor 0%,$rightcolor 51%,$leftcolor 100%);
    border:none;
    color:$font-color;
    background-size: auto 200%;
    transition: all 0.3s ease;
  }

  .btn-primary-gradien{
    @include btn-gradien(60,lighten($primary-color,8%),0%,darken($primary-color,8%),100%,$white);
    color: $white;
    &:focus,&:active,&.active{
        transition: 1.5s;
        background-position: right center;
        background-image: linear-gradient(to right, lighten($primary-color,8%),0%,darken($primary-color,8%),100%,$white) !important;
    }
  }

  .btn-primary-gradien-description{
    @include btn-gradien(60,lighten($secondary-color,8%),0%,darken($secondary-color,8%),100%,$white);
    color: $white;
    &:focus,&:active,&.active{
        transition: 1.5s;
        background-position: right center;
        background-image: linear-gradient(to right, lighten($secondary-color,8%),0%,darken($secondary-color,8%),100%,$white) !important;
    }
  }

  .btn{
    padding: $btn-padding;
  }
}

