:host {
    // https://css-tricks.com/snippets/css/complete-guide-grid/
    .hero {
        display: grid;
    }
    .hero-container {
        display: grid;
        grid-template-columns: 110px 1fr 1fr;
        grid-template-areas: "title menu-bar shopping-cart";
    }
    .title {
        grid-area: title;
    }
    .menu-bar{
        grid-area: menu-bar;
    }
    .shopping-cart {
        grid-area: shopping-cart;
        //padding-right: 15px;
        justify-self: end;
    }
    .toggle-menu {
        grid-area: toggle-menu;
    }

    // DEMO EXAMPLE
    .example-container {
        margin: 0;
        width: 100%;
        height: 100%;
        //border: 1px solid rgba(0, 0, 0, 0.5);
    }
      

      
    .example-sidenav {
        padding: 20px;
    }

    @media screen and (max-width: 768px) {
        .hero-container {
          grid-template-columns: 45px 1fr;
          grid-template-areas: "toggle-menu title";
        }

        .title {
            grid-area: title;
            justify-self: self-start;
        }

    }
}