<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/products" routerLinkActive="active">Products</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/demo" routerLinkActive="active">Demo</a>
  <a class="dropdown">CSS Grid Layout
    <a class="dropdown-content">
      <a routerLink="/css-grid-layout/card" routerLinkActive="active">
        Card
      </a>
      <a routerLink="/css-grid-layout/instagram" routerLinkActive="active">Instagram</a>
      <a routerLink="/css-grid-layout/pinterest" routerLinkActive="active">Pinterest</a>
      <a routerLink="/css-grid-layout/platzi" routerLinkActive="active">Platzi</a>
      <a routerLink="/css-grid-layout/store" routerLinkActive="active">Store</a>
      <a routerLink="/css-grid-layout/store-v2" routerLinkActive="active">Store v2</a>
      <a routerLink="/css-grid-layout/store-v12" routerLinkActive="active">Store v12</a>
      <a routerLink="/css-grid-layout/store-v13" routerLinkActive="active">Store v13</a>
      <a routerLink="/css-grid-layout/store-v14" routerLinkActive="active">Store v14</a>
      <a routerLink="/css-grid-layout/store-v15" routerLinkActive="active">Store v15</a>
    </a>
  </a>
</nav>

<mat-toolbar>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <a mat-button routerLink="/home" routerLinkActive #rlaHome="routerLinkActive"
    [color]="rlaHome.isActive && 'accent'">Home</a>
  <a mat-button routerLink="/products" routerLinkActive #rlaProducts="routerLinkActive"
    [color]="rlaProducts.isActive && 'accent'">Products</a>
  <a mat-button routerLink="/contact" routerLinkActive #rlaContact="routerLinkActive"
    [color]="rlaContact.isActive && 'accent'">Contact</a>
  <a mat-button routerLink="/demo" routerLinkActive #rlaDemo="routerLinkActive"
    [color]="rlaDemo.isActive && 'accent'">Demo</a>
</mat-toolbar>