<nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a class="dropdown">CSS Grid Layout
        <a class="dropdown-content">
            <a routerLink="/css-grid-layout/card"
               routerLinkActive="active">
               Card
            </a>
            <a routerLink="/css-grid-layout/instagram"
            routerLinkActive="active">Instagram</a>
            <a routerLink="/css-grid-layout/pinterest"
            routerLinkActive="active">Pinterest</a>
            <a routerLink="/css-grid-layout/platzi"
            routerLinkActive="active">Platzi</a>
            <a routerLink="/css-grid-layout/store"
            routerLinkActive="active">Store</a>
            <a routerLink="/css-grid-layout/store-v2"
            routerLinkActive="active">Store v2</a>
            <a routerLink="/css-grid-layout/store-v12"
            routerLinkActive="active">Store v12</a>
            <a routerLink="/css-grid-layout/store-v13"
            routerLinkActive="active">Store v13</a>
            <a routerLink="/css-grid-layout/store-v14"
            routerLinkActive="active">Store v14</a>
            <a routerLink="/css-grid-layout/store-v15"
            routerLinkActive="active">Store v15</a>
        </a>
    </a>
</nav>


       
    