:host {
    // https://css-tricks.com/snippets/css/complete-guide-grid/
    .hero {
        display: grid;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
        //position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
        // z-index: 2;
    }
    .hero-container {
        display: grid;
        grid-template-columns: 110px 1fr 1fr;
        grid-template-areas: "title menu-bar shopping-cart";
    }
    .title {
        grid-area: title;
    }
    .menu-bar{
        grid-area: menu-bar;
    }
    .shopping-cart {
        grid-area: shopping-cart;
        //padding-right: 15px;
        justify-self: end;
    }
    .button-menu{
        grid-area: button-menu;
    }
    
    @media screen and (max-width: 768px) {
        .hero-container {
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas: "button-menu title shopping-cart";
        }
        .title {
            grid-area: title;
            // justify-self: self-start;
            justify-self: center;
        }
    }
}