<p>demo works!</p>

<p>{{ title }}</p>

<input type="text" [(ngModel)]="title" matInput>

<mat-card *ngIf="veganFoods.length === 0">La lista está vacía.</mat-card>

<mat-card class="example-card" *ngFor="let veganFood of veganFoods; index as i; first as isFirst">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{i}}/{{veganFoods.length}}. {{veganFood}}</mat-card-title>
        <mat-card-subtitle *ngIf="isFirst">default</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolorum ea a similique maiores voluptas,
            velit magni ullam dolore doloremque explicabo voluptatem voluptatum assumenda nobis mollitia. Cum suscipit
            rem corporis.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="deleteItem(i)" mat-raised-button color="warn">Delete</button>
    </mat-card-actions>
</mat-card>
<p></p>
<button (click)="addItem()" mat-raised-button color="accent">Add item</button>

<h1>Pipe exponential</h1>
<input type="text" [(ngModel)]="power">
{{ power | exponential }}

<div *ngIf="isVisible">
    <p>Hello</p>
</div>