:host {
    margin: 0;
    font-family: Arial;
    // Centra los spans
    .prueba {
        text-align: center;
        display: block;
    }
    // post
    .post {
        cursor: pointer;
        position: relative;
        display: block;
    }
    .post-image {
        margin: 0;
    }
    .post-image img {
        width: 100%;
        vertical-align: top;
    }
    // Likes y comentarios
    .post-overlay {
        background: rgb(0,0,0, .4);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: none;
        color: white;
        // Propiedades del display de flex
        align-items: center; // VERTICAL
        justify-content: center; // HORIZONTAL
    }
    // Flex
    .post:hover .post-overlay {
        display: flex;
    }
    .post-likes,
    .post-comments {
        width: 80px;
        margin: 5px;
        font-weight: bold;
        text-align: center;
        display: inline-block;
    }
}