// Colors variables
$primary-color: #7366ff;
$secondary-color: #f73164;
$success-color: #51bb25;
$info-color : #a927f9;
$warning-color: #f8d62b;
$danger-color: #dc3545;
$light-color : #f4f4f4;
$light-gray : #ecf3fa;
$light-semi-gray :#efefef;
$dark-gray: #898989;
$dark-color : #2c323f;
$gray-60 :#cccccc;
$card-body-color : #f9f9fa;
$transparent-color: transparent;
$auth-bg-color:#fafafa;
$light : #fdfeff;
$semi-dark :#59667a;
$light-text: #999999;
$light-background: #d7e2e9;
$light-font: rgba(27, 49, 85, 0.4);
$light-chartist-grid-color: #f6f9fd;
$pitch-color: #fe8a7d;
$color-scarpa: #4c5667;
$color-fiord: #455a64;
$black : #000;
$white:#fff;
