@import 'src/styles/variables';

:host {
    padding: 0px;
    .hero {
        // font-size: 50px;
        display: grid;
        padding: 0.375rem 0.575rem;
    }
    .hero-content {
        display: grid;
        grid-template-columns: 24px 1fr;
        grid-template-areas: "icon text";
        gap: 6px;
    }
    .icon {
        grid-area: icon;
        align-self: center;
    }
    .text{
        grid-area: text;
        align-self: center;
    }
}