<form [formGroup]="form" (ngSubmit)="createProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Producto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- Id -->
            <mat-form-field appearance="outline" class="id">
                <mat-label>Id</mat-label>
                <input matInput formControlName="id" type="text">
            </mat-form-field>
            <!-- Title -->
            <mat-form-field appearance="outline" class="title">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" type="text">
            </mat-form-field>
            <!-- Price -->
            <mat-form-field appearance="outline" class="price">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price" type="number">
            </mat-form-field>
            <!-- Image -->
            <mat-form-field appearance="outline" class="image">
                <mat-label>Image</mat-label>
                <input matInput formControlName="image" type="text">
            </mat-form-field>
            <!-- Description -->
            <mat-form-field appearance="outline" class="description">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" type="text"></textarea>
            </mat-form-field>
        </mat-card-content>
        <div *ngIf="form.get('price')?.errors && form.get('price')?.dirty">
            <mat-error *ngIf="priceField?.hasError('price_invalid')">El campo price no es válido. No te debes
                pasar
                de $10000.</mat-error>
            <mat-error *ngIf="priceField?.hasError('required')">El campo price es requerido.</mat-error>
        </div>
        <!-- <button mat-raised-button color="accent" (click)="prueba()">Prueba</button> -->
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Crear producto</button>
        </mat-card-actions>
    </mat-card>
</form>
