<mat-drawer-container class="side-header-container" autosize [hasBackdrop]="true">

    <!-- Ocultas esto cuando está en mobile -->
    <app-header [sideHeaderDrawer]="drawer"></app-header>

    <!-- Mostrar esto cuando esté en mobile -->
    <!-- Probando toggle toolbar responsive -->
    <mat-toolbar>

        <div>
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <span>My App</span>
            <button mat-icon-button>
                <mat-icon>favorite</mat-icon>
            </button>
        </div>

    </mat-toolbar>

    <!-- Barra izquierda -->
    <mat-drawer class="hero" #drawer mode="side">
        <mat-list role="list">
            <a mat-list-item routerLink="/home">
                <mat-icon>home_outline</mat-icon>
                <span>Home</span>
            </a>
            <a mat-list-item routerLink="/products">
                <mat-icon>local_mall</mat-icon>
                <span>Products</span>
            </a>
            <a mat-list-item routerLink="/contact">
                <mat-icon>contact_page</mat-icon>
                <span>Contact</span>
            </a>
            <a mat-list-item routerLink="/demo">
                <mat-icon>code</mat-icon>
                <span>Demo</span>
            </a>

            <a mat-list-item>
                <mat-icon>inventory_2</mat-icon>
                <span>CSS Grid Layout</span>
            </a>
        </mat-list>

    </mat-drawer>

</mat-drawer-container>