<mat-list role="list">
    <a mat-list-item routerLink="/home">
        <mat-icon>home_outline</mat-icon>
        <span>Home</span>
    </a>
    <a mat-list-item routerLink="/products">
        <mat-icon>local_mall</mat-icon>
        <span>Products</span>
    </a>
    <a mat-list-item routerLink="/contact">
        <mat-icon>contact_page</mat-icon>
        <span>Contact</span>
    </a>
    <a mat-list-item routerLink="/demo">
        <mat-icon>code</mat-icon>
        <span>Demo</span>
    </a>

    <a mat-list-item>
        <mat-icon>inventory_2</mat-icon>
        <span>CSS Grid Layout</span>
    </a>
</mat-list>
