<p>side-header works!</p>

<mat-drawer-container class="side-header-container" autosize [hasBackdrop]="true">
    <!-- Probando toggle toolbar responsive -->
    <mat-toolbar>

        <div>
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <span>My App</span>
            <button mat-icon-button>
                <mat-icon>favorite</mat-icon>
            </button>
        </div>

    </mat-toolbar>

    asdasdasd
    <router-outlet></router-outlet>
    <app-footer></app-footer>


    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- Barra izquierda -->
    <mat-drawer #drawer mode="side">

        <mat-list role="list">
            <a mat-list-item routerLink="/home">Home</a>
            <a mat-list-item routerLink="/products">Products</a>
            <a mat-list-item routerLink="/contact">Contact</a>
            <a mat-list-item routerLink="/demo">Demo</a>
        </mat-list>

    </mat-drawer>

</mat-drawer-container>