:host {
    form{
        display: flex;
        place-content: center;
        margin: 50px;
    }
    .mat-card{
        width: 100%;
        background-color: #ebf0ec38;
    }
    .mat-card-header{
        place-content: center;
        font-size: 28px;
    }
    .mat-form-field{
        width: 100%;
        margin-bottom:15px;
    }
    button{
        width: 100%;
        font-size: 20px;
    }
    button:enabled{
    background-color: #5ab95a !important;
    color:white;
    }
    ::ng-deep .color-snack{
        background-color: #ffffff  !important;
        margin: 0px !important;
        max-width: 100%;
        min-width: 0;
        width: 100%;
        height: 665px;
        color: rgba(21, 137, 201, 0.7) ;
        background: #fff0 !important;
    }
}
