<app-store-v13></app-store-v13>


<div *ngIf="isVisible">
  <app-store-v12></app-store-v12>

  <app-store-v2></app-store-v2>

  <app-store></app-store>

  <app-home></app-home>

  <app-card></app-card>

  <p>{{ title }}</p>
  <input type="text" [(ngModel)]="title">

  <ul>
    <li *ngIf="veganFoods.length === 0">La lista está vacía.</li>
    <li *ngFor="let veganFood of veganFoods; index as i; first as isFirst">
      {{i}}/{{veganFoods.length}}. {{veganFood}} <span *ngIf="isFirst">default</span>
      <button (click)="deleteItem(i)">Delete</button>
    </li>
  </ul>

  <button (click)="addItem()">Add item</button>

  <div class="product-grid">
    <app-product *ngFor="let product of products" (productClicked)="clickProduct($event)" [product]="product">
    </app-product>
  </div>
</div>