:host {
    margin: 0;
    .hero {
        display: grid;
        height: 100px; // Momentaneo
        background-color: #3f51b5;
        background: #3f51b5;
        color: #fff;
        margin: 0;
    }
    .hero-container {
        display: grid;
    }
}