:host {
    .mat-drawer-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .container {
        max-width: 1110px;
        padding-right: 16px;
        padding-left: 16px;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (max-width: 768px) {
        // .container {
            
        //     width: 100%;
        //     padding-right: 0px;
        //     padding-left: 0px;
        //     margin-right: auto;
        //     margin-left: auto;
        // }
    }
}