<h3 class="card-header h5" appHighlight>{{ product.title | uppercase }} <span> {{ product.description | slice:0:10 }} </span></h3>
<img [src]="product.image" alt="">
<div class="card-footer card-bottom">
    <strong>{{ product.price | currency }}</strong>
    <p><button (click)="addCart()" class="btn btn-primary-gradien">Agregar al carrito</button></p>
    <p><button [routerLink]="['/products', product.id]" class="btn btn-primary-gradien-description">Ver detalle</button></p>
    <p>{{ today | date:'medium' }}</p>
</div>