@import 'src/app/app.component';
:host{
    @mixin btn-gradien($deg,$leftcolor,$leftcolor-per,$rightcolor,$rightcolor-per,$font-color){
        background-image: linear-gradient(to right,$leftcolor 0%,$rightcolor 51%,$leftcolor 100%);
        border:none;
        color:$font-color;
        background-size: auto 200%;
        transition: all 0.3s ease;
      }
    
      .btn-primary-gradien{
        @include btn-gradien(60,lighten($primary-color,8%),0%,darken($primary-color,8%),100%,$white);
        color: $white;
        &:focus,&:active,&.active{
            transition: 1.5s;
            background-position: right center;
            background-image: linear-gradient(to right, lighten($primary-color,8%),0%,darken($primary-color,8%),100%,$white) !important;
        }
      }
    
      .btn-primary-gradien-description{
        @include btn-gradien(60,lighten($secondary-color,8%),0%,darken($secondary-color,8%),100%,$white);
        color: $white;
        &:focus,&:active,&.active{
            transition: 1.5s;
            background-position: right center;
            background-image: linear-gradient(to right, lighten($secondary-color,8%),0%,darken($secondary-color,8%),100%,$white) !important;
        }
      }
    
      .btn{
        padding: $btn-padding;
      }
}